$primary: rgb(5,17,172);
$secondary: rgb(17,204,70);
$dark: #000;
$dark_opacity: rgba($dark,1);
$font-size: 1.75rem;
$brand: 'dsc';
$success: rgb(40,192,40);
$danger: rgb(231,47,56);

// usando maps
$palette: ( 
'primary': rgb(5,17,172),
'secondary': rgb(17,204,70),
'success': rgb(40,192,40),
'danger': rgb(231,47,56),
'light': #fff,
'orange': rgb(255,128,0),
'blue': rgb(0,0,255),
'dark': rgb(0,0,0) 
);


//$titles: 16, 20, 24, 32;
//$titles:( 'xs': 16px 100, 'md': 20px 500, 'lg': 24px 600, 'xl': 64px 900);

/* trabajandolo como mapas */
$titles:( 'xs' 16px 100, 'md' 20px 500, 'lg' 24px 600, 'xl' 64px 900);


