$primary: rgb(5,17,172);
$secondary: rgb(17,204,70);
$dark: #000;
$dark_opacity: rgba($dark,1);
$font-size: 1.75rem;
$brand: 'dsc';
$success: rgb(40,192,40);
$danger: rgb(231,47,56);

// usando maps
$palette: ( 
'primary': rgb(5,17,172),
'secondary': rgb(17,204,70),
'success': rgb(40,192,40),
'danger': rgb(231,47,56),
'light': #fff 
);






