.alert{
 &-primary, &-danger{
	 width: calc(100% - 1rem - 30px);
	 padding: 15px;
	 margin: .5rem;
	 border-radius: 10px;
	 font-size: 1.15rem;
	 letter-spacing: 5px;
	 font-family: 'Lato,' sans-serif;
	 //color: map-get($map: $palette, $key: 'light'); 
	 color: color('light');
 }
 &-primary{
	 //background: map-get($map: $palette, $key: 'primary');
	 //background: color('primary');
	   background: changeColor('primary', darken, 0.75); 

 }

 &-danger{
	 //background: map-get($map: $palette, $key: 'danger');
	 //background: color('danger');
	 //background: reduceColor('success',10);
	   background: changeColor('danger',lighten,20); 
 }
}



