/* nesting => trabajar con capas 
 
 1.- propiedades
 2.- propias clases
 
  */
 
 .#{$brand}-card{
  width: 250px;
  padding: 0;
  border:{
 	 radius: 5px;
 	 width: 1px;
 	 style: solid;
 	 color: map-get($map: $palette, $key: 'secondary'); 
  }
 
  &__body{
 	 height: 50px;
 	 text-align: center;
 	 background-color: map-get($map: $palette, $key: 'primary'); 
 	 line-height: 50px;
 
  }
 
  img{
 	 width: 100%;
 	 height: 150px;
 	 display: block;
 
  }
 
  h1{
 	 height: 50px;
 	 line-height: 50px;
 	 margin: 0;
 
  }
 }
 
 
/* hacemos una funcion */
@function scale($val, $max, $ratio: 1.5){
 @while $val  > $max {
 	$val: $val / $ratio;
 }
 @return $val;
}

.main-card{
height: 250px;
width: scale(250px, 230px, 1);
background-color: rgba(0,0,0,.25);
}


